#![enable(unwrap_newtypes, implicit_some)]
[
	(
		name: "Infinity",
		map: "maps/inf.ron",
		goal: Bees(200),
		waves: [
			(portals: [()]),
		],
	),
	(
		name: "Infinitiy 2",
		map: "maps/inf.ron",
		goal: MaxMissed(600),
		duration: (secs: 60, nanos: 0),
		waves: [
			(portals: [()]),
		],
	),
	(
		name: "Heart",
		map: "maps/heart.ron",
		goal: Time,
		duration: (secs: 60, nanos: 0),
		waves: [
			(portals: [()]),
		],
	),
	(
		name: "Jeremy Bearimy",
		map: "maps/jeremy_bearimy.ron",
		goal: Bees(1000),
		duration: (secs: 300, nanos: 0),
		waves: [
			(portals: [()]),
		],
	),
	(
		name: "JerBear Slippery",
		map: "maps/jeremy_bearimy.ron",
		goal: Bees(1000),
		duration: (secs: 300, nanos: 0),
		waves: [
			(portals: [()]),
		],
		player_speed_params: (
			max_velocity: 4000.0,
			accel: 2000.0,
			velocity_decay: 0.1,
		),
	),
]
